<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Produkt</title>
  <script defer src="https://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
  <script defer src="client.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a class="Allegro" href="/">Allegro</a></li>
        <div class="user-info">
          <% if (user) { %>
            <li><a href="/add">Dodaj produkt</a></li>
            <li><a href="/chat">Czat</a></li>
            <li><a href="/profile">Mój profil</a></li>
            <li><a href="/logout">Wyloguj</a></li>
          <% } else { %>
            <li><a href="/login">Zaloguj się</a></li>
          <% } %>
        </div>
      </ul>
    </nav>
  </header>
  <main>
    <% if (product) { %>
    <div class="product-chat">
      <div class="product">
        <% if (user == "admin" || product.owner == user) { %>
          <a href="/products/edit/<%= product.id %>" class="button">Edytuj</a>
        <% } %>
        <img src="<%= product.thumbnail %>">
        <% if (product.discountPercentage > 0) { %>
          <h6 class="crossed-price"><%= Math.round(product.price*4.70) %>zł</h5>
            <div class="prices">
              <h3 class="price"><%= Math.round((100-product.discountPercentage)/100*product.price*4.70) %>zł</h3>
              <div class="discount">-<%= product.discountPercentage %>%</div>
            </div>
        <% } else { %>
          <h3 class="price"><%= Math.round(product.price*4.70) %>zł</h3>
        <% } %>
        <h4><%= product.title %></h4>
        <p><%= product.description %></p>
        <h3>Rating: <%= product.rating %>⋆</h1>
        <h6>Dostępnych w magazynie: <%= product.stock %></h6>
        <h6>Marka: <%= product.brand %></h6>
        <h6>Kategoria: <%= product.category %></h6>
        <h6>Zdjęcia:</h6>
        <% product.images.forEach(function(i) { %>
            <img src="<%= i %>">
        <% }); %>
      </div>
    </div>
    <% } %>
  </main>
  <footer>
    <p>© 2023 Copyright: Piotr Maszczak</p>
  </footer>
</body>

</html>